body {
  font-family: Arial, sans-serif;
  background-color: rgb(205, 228, 236);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

h1 {
  margin-bottom: 20px;
  font-size: 2em;
}

.display {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}

.question-no, .score {
  font-family: "Poetsen One", sans-serif;
  font-size: 1.2em;
}

.question {
  margin-top: -30px;
  margin-bottom: 20px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 550;
  font-size: 2em;
}

.options div {
  margin-bottom: 10px;
  background-color: white;
  transition: background-color 0.3s ease;
}

.options div:hover {
  background-color: #bdcff2;
}

.correct {
  background-color: green;
  color: white;
}

.incorrect {
  background-color: red;
  color: white;
}

input[type="radio"] {
  display: none;
}

label {
  display: block;
  padding: 10px;
  cursor: pointer;
}

progress {
  width: 25%;
  height: 25px;
  appearance: none;
}

progress::-webkit-progress-bar {
  background-color: #f3f3f3;
  border-radius: 5px;
  box-shadow: inset 0px 0px 5px #000000;
}

progress::-webkit-progress-value {
  background-color: #4caf50;
  border-radius: 5px;
}

.hidden {
  display: none;
}

#result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

#play-again {
  background-color: aliceblue;
  transition: background-color 0.3s ease;
}

#play-again:hover {
  background-color: rgba(55, 194, 233, 0.1);
}

#Go-Home{
  background-color: aliceblue;
  transition: background-color 0.3s ease;
}
#Go-Home:hover {
  background-color: rgba(55, 194, 233, 0.1);
}

#result-container button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
}
